<mat-dialog-content>
  <h3>Summary of your purchase</h3>
  <div>
    <p><strong>Number of tickets :</strong> {{ purchaseConfirmation.form.numberOfTickets }}</p>
    <p><strong>Total Cost USD :</strong> ${{ purchaseConfirmation.form.totalCostUsd }}</p>
    <p><strong>Total Cost Dogecoin :</strong> ${{ purchaseConfirmation.form.totalCostDoge }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
